{% extends 'main/base.html' %}
{% block content %}
<style>
  body,
  html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  form {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    padding: 40px;
    padding-top: 0px;
    align-items: center;
    box-shadow: 15px 15px 42px -12px rgba(115, 115, 115, 1);
  }

  #logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 32px;
    height: 100px;
    background: var(--custombg);
    position: relative;
    border-radius: 15px;
    top: -40px;
    width: 340px;
  }

  input[type="text"],
  input[type="password"] {
    padding: 5px;
    margin-bottom: 20px;
    height: 20px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
  }

  input:focus {
    outline: none;
  }
  label {
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
  }
</style>
<form method="post">
  {% csrf_token %}
  <div id="logo">INFOEDUKA</div>
  <label>Email:</label>
  <input type="text" name="username" placeholder="E-mail">
  <label>Lozinka:</label>
  <input type="password" name="password" placeholder="Password">
  <button class="cool-button">PRIJAVI SE</button>
</form>
{% endblock content %}