{% extends 'main/base.html' %}
{% block content %}
  {% if not kolegiji %}
  Nema upisanih kolegija.
  {% endif %}

  {% if user.is_staff %}
  <a href="kolegij/uredi/">Unesi kolegij</a>
  {% endif %}

  {% for kolegij in kolegiji %}
  <div style="border: 1px solid black;">
    <div>Naziv kolegija: {{ kolegij }}</div>
    Predavaci:
    {{ kolegij.predavaci.all|join:", " }}
    {% if user.is_staff %}
  <a
    href="kolegij/obrisi/{{kolegij.id}}"
    onClick="return confirm('Potvrdi brisanje kolegija?')"
  >Obriši kolegij</a>
  <a
    href="kolegij/uredi/{{kolegij.id}}"
  >Uredi kolegij</a>
  {% endif %}
  </div>
  {% endfor %}
{% endblock content %}